<div>
    <div class="page-heading pl-3 my-4">
        <h3>{{ preRFxId ? 'Edit' : 'Add' }} Pre-RFx</h3>
    </div>
    <div class="inner-wrapper">
        <div class="main-content p-3 mb-5">
            <div class="form-contianer p-3">
                <form [formGroup]="preRFxForm" (ngSubmit)="preRFxFormSubmit()">
                    <div class="row form-status-container">
                        <div class="alert alert-dismissible fade" [ngClass]="{ 'show': formStatusMessage || formSuccessMessage, 'hide': !formStatusMessage && !formSuccessMessage, 'alert-danger': formStatusMessage, 'alert-success': formSuccessMessage }" role="alert">
                            {{ formStatusMessage || formSuccessMessage }}
                            <button type="button" class="close" aria-label="Close" (click)="formStatusMessage = ''; formSuccessMessage = '';">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert alert-dismissible fade" [ngClass]="getEditDisabledMessageClass()" role="alert">
                            <span [innerHTML]="editDisabledMessage"></span>
                            <button type="button" class="close" aria-label="Close" (click)="editDisabledMessage = '';">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="sec">
                        <div class="row mx-4 mb-4 p-2 sec-header" [ngClass]="{ 'sec-expanded': showBasicInfoSec }" data-toggle="collapse" data-target="#basic-info-sec" aria-expanded="true" aria-controls="basic-info-sec" (click)="showBasicInfoSec = !showBasicInfoSec">
                            <div class="icon-cntnr"><fa-icon [icon]="secHeaderIcon"></fa-icon></div>
                            <div>
                                <h4 class="m-0">Basic Information</h4>
                                <div class="sec-info">All fields marked with an asterisk (*) are required.</div>
                            </div>
                        </div>
                        <div id="basic-info-sec" class="collapse show">
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">Business Unit *</label>
                                    <select class="custom-select" formControlName="bu_id" [ngClass]="{ 'control-disabled': editDisabled }">
                                        <option *ngFor="let businessUnit of businessUnits" [value]="businessUnit.id">{{ businessUnit.name }}</option>
                                    </select>
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">RFx Number *</label>
                                    <input type="text" formControlName="rfx_number" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">RFx Title *</label>
                                    <input type="text" formControlName="title" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                                <div class="col mx-4"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">RFx Type *</label>
                                    <select class="custom-select" formControlName="rfx_type_id" [ngClass]="{ 'control-disabled': editDisabled }">
                                        <option *ngFor="let type of rfxTypes" [value]="type.id">{{ type.code + ' - ' + type.display_text }}</option>
                                    </select>
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">RFx Category *</label>
                                    <select class="custom-select" formControlName="rfx_category_id" [ngClass]="{ 'control-disabled': editDisabled }">
                                        <option *ngFor="let category of rfxCategories" [value]="category.id">{{ category.code + ' - ' + category.display_text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">RFx Published Date</label>
                                    <input type="date" class="date-input" [ngClass]="{ 'has-value': preRFxForm.value.rfx_pub_date, 'control-disabled': editDisabled }" formControlName="rfx_pub_date">
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">RFx Due Date & Time *</label>
                                    <input type="datetime-local" class="date-input" [ngClass]="{ 'has-value': preRFxForm.value.rfx_due_date_time, 'control-disabled': editDisabled }" formControlName="rfx_due_date_time">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sec pt-4">
                        <div class="row mx-4 mb-4 p-2 sec-header" [ngClass]="{ 'sec-expanded': showDetailedInfoSec }" data-toggle="collapse" data-target="#detailed-info-sec" aria-expanded="true" aria-controls="detailed-info-sec" (click)="showDetailedInfoSec = !showDetailedInfoSec">
                            <div class="icon-cntnr"><fa-icon [icon]="secHeaderIcon"></fa-icon></div>
                            <div>
                                <h4 class="m-0">Detailed Information</h4>
                                <div class="sec-info">All fields marked with an asterisk (*) are required.</div>
                            </div>
                        </div>
                        <div id="detailed-info-sec" class="collapse show">
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">RFx Scope *</label>
                                    <textarea rows="4" formControlName="rfx_scope" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">RFx Minimum Qualifications</label>
                                    <textarea rows="4" formControlName="rfx_min_qualifications" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">Pre-RFx Comments</label>
                                    <textarea rows="4" formControlName="rfx_comments" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                </div>
                                <div class="col mx-4">
                                    <div class="mb-2">
                                        <label class="input-label">RFx Client Agency/Company Name *</label>
                                        <select class="custom-select" formControlName="client_agency_id" [ngClass]="{ 'control-disabled': editDisabled }">
                                            <option *ngFor="let agency of clientAgencies" [value]="agency.id">{{ agency.name + ' (' + agency.type + ')' }}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="input-label">State/Province *</label>
                                        <input type="text" formControlName="state_province" [ngClass]="{ 'control-disabled': editDisabled }">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8 mx-4">
                                    <label class="input-label">RFx Constraints: *</label>
                                    <div formGroupName="rfx_constraints">
                                        <div class="mb-2" formGroupName="local_vendors">
                                            <div class="d-flex">
                                                <div class="mr-4 input-group-label d-inline">a. Only local vendors eligible?</div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="local_vendors_value_true" [value]="true" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="local_vendors_value_true" [ngClass]="{ 'control-disabled': editDisabled }">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="local_vendors_value_false" [value]="false" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="local_vendors_value_false" [ngClass]="{ 'control-disabled': editDisabled }">No</label>
                                                </div>
                                            </div>
                                            <div *ngIf="preRFxForm.value.rfx_constraints.local_vendors.value" class="mt-2">
                                                <textarea rows="4" formControlName="text" placeholder="Related Text From RFP" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                            </div>
                                        </div>
                                        <div class="mb-2" formGroupName="certification_license">
                                            <div class="d-flex">
                                                <div class="mr-4 input-group-label d-inline">b. Any Certification/Licenses Needed?</div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="certification_license_value_true" [value]="true" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="certification_license_value_true" [ngClass]="{ 'control-disabled': editDisabled }">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="certification_license_value_false" [value]="false" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="certification_license_value_false" [ngClass]="{ 'control-disabled': editDisabled }">No</label>
                                                </div>
                                            </div>
                                            <div *ngIf="preRFxForm.value.rfx_constraints.certification_license.value" class="mt-2">
                                                <textarea rows="4" formControlName="text" placeholder="Related Text From RFP" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                            </div>
                                        </div>
                                        <div class="mb-2" formGroupName="financial_conditions">
                                            <div class="d-flex">
                                                <div class="mr-4 input-group-label d-inline">c. Any Financial Conditions?</div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="financial_conditions_value_true" [value]="true" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="financial_conditions_value_true" [ngClass]="{ 'control-disabled': editDisabled }">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="financial_conditions_value_false" [value]="false" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="financial_conditions_value_false" [ngClass]="{ 'control-disabled': editDisabled }">No</label>
                                                </div>
                                            </div>
                                            <div *ngIf="preRFxForm.value.rfx_constraints.financial_conditions.value" class="mt-2">
                                                <textarea rows="4" formControlName="text" placeholder="Related Text From RFP" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                            </div>
                                        </div>
                                        <div class="mb-2" formGroupName="minority_certified">
                                            <div class="d-flex">
                                                <div class="mr-4 input-group-label d-inline">d. Is it only for Minority/8(a) certified companies?</div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="minority_certified_value_true" [value]="true" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="minority_certified_value_true" [ngClass]="{ 'control-disabled': editDisabled }">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="minority_certified_value_false" [value]="false" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="minority_certified_value_false" [ngClass]="{ 'control-disabled': editDisabled }">No</label>
                                                </div>
                                            </div>
                                            <div *ngIf="preRFxForm.value.rfx_constraints.minority_certified.value" class="mt-2">
                                                <textarea rows="4" formControlName="text" placeholder="Related Text From RFP" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                            </div>
                                        </div>
                                        <div class="mb-2" formGroupName="other_constraints">
                                            <div class="d-flex">
                                                <div class="mr-4 input-group-label d-inline">e. Any Other Constraints?</div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="other_constraints_value_true" [value]="true" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="other_constraints_value_true" [ngClass]="{ 'control-disabled': editDisabled }">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" formControlName="value" id="other_constraints_value_false" [value]="false" [ngClass]="{ 'control-disabled': editDisabled }">
                                                    <label class="form-check-label" for="other_constraints_value_false" [ngClass]="{ 'control-disabled': editDisabled }">No</label>
                                                </div>
                                            </div>
                                            <div *ngIf="preRFxForm.value.rfx_constraints.other_constraints.value" class="mt-2">
                                                <textarea rows="4" formControlName="text" placeholder="Related Text From RFP" [ngClass]="{ 'control-disabled': editDisabled }"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col mx-4"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">Pre-Proposal Conference *</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="pre_proposal_conf" id="pre_proposal_conf_true" [value]="true" [ngClass]="{ 'control-disabled': editDisabled }">
                                            <label class="form-check-label" for="pre_proposal_conf_true" [ngClass]="{ 'control-disabled': editDisabled }">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="pre_proposal_conf" id="pre_proposal_conf_false" [value]="false" [ngClass]="{ 'control-disabled': editDisabled }">
                                            <label class="form-check-label" for="pre_proposal_conf_false" [ngClass]="{ 'control-disabled': editDisabled }">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mx-4">
                                    <div *ngIf="preRFxForm.value.pre_proposal_conf">
                                        <label class="input-label">Pre-Proposal Conference Date</label>
                                        <input type="date" class="date-input" [ngClass]="{ 'has-value': preRFxForm.value.pre_proposal_conf_date }"  formControlName="pre_proposal_conf_date" [ngClass]="{ 'control-disabled': editDisabled }">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">Submission Format *</label>
                                    <select class="custom-select" formControlName="submission_format" [ngClass]="{ 'control-disabled': editDisabled }">
                                        <option *ngFor="let format of submissionFormats" [value]="format">{{ format }}</option>
                                    </select>
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">Source *</label>
                                    <select class="custom-select" formControlName="source" [ngClass]="{ 'control-disabled': editDisabled }">
                                        <option *ngFor="let source of sources" [value]="source.value">{{ source.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">Source URL</label>
                                    <input type="text" formControlName="source_url" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">RFx 3rd Party Source URL</label>
                                    <input type="text" formControlName="rfx_third_party_src_url" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">RFx Attachment</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="rfxFileInput"  (change)="rfxAttachmentUpdated($event)" [ngClass]="{ 'control-disabled': editDisabled }">
                                        <label class="custom-file-label" for="rfxFileInput" [ngClass]="{ 'control-disabled': editDisabled }">{{ selectedAttachmentFile && selectedAttachmentFile.name ? selectedAttachmentFile.name : 'Choose file...' }}</label>
                                    </div>
                                </div>
                                <div class="col mx-4"></div>
                            </div>
                        </div>
                    </div>

                    <div class="sec pt-4">
                        <div class="row mx-4 mb-4 p-2 sec-header" [ngClass]="{ 'sec-expanded': showBuyerInfoSec }" data-toggle="collapse" data-target="#buyer-info-sec" aria-expanded="true" aria-controls="buyer-info-sec" (click)="showBuyerInfoSec = !showBuyerInfoSec">
                            <div class="icon-cntnr"><fa-icon [icon]="secHeaderIcon"></fa-icon></div>
                            <div>
                                <h4 class="m-0">Buyer Information</h4>
                            </div>
                        </div>
                        <div id="buyer-info-sec" class="collapse show" formGroupName="buyer">
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">Buyer Name</label>
                                    <input type="text" formControlName="name" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">Buyer Title</label>
                                    <input type="text" formControlName="title" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mx-4">
                                    <label class="input-label">Buyer Contact</label>
                                    <input type="text" formControlName="contact" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                                <div class="col mx-4">
                                    <label class="input-label">Buyer Email</label>
                                    <input type="text" formControlName="email" [ngClass]="{ 'control-disabled': editDisabled }">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="preRFxEdit && preRFxEdit.rfx_status_comments && preRFxEdit.rfx_status_comments.length > 0" class="sec pt-4 mb-4">
                        <div class="row mx-4 mb-2 p-2 sec-header" [ngClass]="{ 'sec-expanded': showRFxCommentSec }" data-toggle="collapse" data-target="#rfx-comment-sec" aria-expanded="true" aria-controls="rfx-comment-sec" (click)="showRFxCommentSec = !showRFxCommentSec">
                            <div class="icon-cntnr"><fa-icon [icon]="secHeaderIcon"></fa-icon></div>
                            <div>
                                <h4 class="m-0">Pre-RFx Comments</h4>
                            </div>
                        </div>
                        <div id="rfx-comment-sec" class="mx-4 collapse show">
                            <div *ngFor="let comment of preRFxEdit.rfx_status_comments" class="mx-0 mb-2 rfx-comment">
                                <div class="col comment-content" [ngClass]="{ 'invert': currentUser && comment.sender_id !== currentUser.id }">
                                    <div class="col-12">
                                        <span class="name">{{ comment.sender_name }}</span>
                                        <span class="date-time mx-3">{{ comment.date_time }}</span>
                                        <span class="badge" [ngClass]="comment.status">{{ getRFxStatusText(comment.status) }}</span>
                                    </div>
                                    <div class="col-12 comment-text">{{ comment.comment_text}} </div>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="action-buttons text-right mx-4">
                        <button type="button" class="btn btn-secondary" [routerLink]="['/pre-rfx-search/']">Cancel</button>
                        <button type="button" class="btn btn-secondary" (click)="preRFxFormSubmit(true)" [disabled]="savingDraft || editDisabled">Save as a Draft</button>
                        <button type="submit" class="btn btn-primary" [disabled]="savingForm || editDisabled">
                            <span *ngIf="savingForm" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
                            {{ savingForm ? 'Saving...' : 'Save' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-pre-rfx-add-comments-modal *ngIf="preRFxPendingStatusData" [pre_rfx_data]="preRFxPendingStatusData" (modalClosed)="preRFxAddCommentModalClosed($event)"></app-pre-rfx-add-comments-modal>