/** Color variables */

$place-holder-color: #ababab
$label-color: #ababab
$input-border-color: #e0e0e0
$input-color: #333333

$primary-color: #27909d
$primary-color-hover: #1c717b
$primary-color-active: #125158
$white-color: #FFFFFF

$nav-link-color: #444

$radio-background-color: #d1d3d1