<div class="modal fade" id="rfxCommentsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Pre-RFx Status: {{ getStatusLabel(pre_rfx_data.status) }}</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row status-container">
                    <div class="alert alert-dismissible fade" [ngClass]="{ 'show': errorMessage || successMessage, 'hide': !errorMessage && !successMessage, 'alert-danger': errorMessage, 'alert-success': successMessage }" role="alert">
                        {{ errorMessage || successMessage }}
                        <button type="button" class="close" aria-label="Close" (click)="errorMessage = ''; successMessage = '';">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div class="info-text mb-2">You are about to mark this Pre-RFx as <strong>{{ getStatusLabel(pre_rfx_data.status) }}</strong>. Do you want to leave a comment before you proceed?</div>
                <div class="my-3"><textarea rows="5" placeholder="Leave Comments for the Searcher" [(ngModel)]="commentText"></textarea></div>
                <div class="action-buttons text-right">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                    <button type="submit" [disabled]="statusUpdated" class="btn btn-primary" (click)="updateStatus()">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>