@import 'src/sass/_variables.sass'

.page-heading
    font-family: 'Cabin Condensed', sans-serif

.main-content
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28)
    background-color: $white-color
    margin: 0px 40px
    flex: 1

    .rfx-search-toolbar
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 1em

        .search-cntnr
            display: grid
            grid-template-columns: 350px 130px
            grid-column-gap: 1em

            input[type="text"]
                width: 300px
                height: 40px
                padding: 10px
                border: 1px solid $input-border-color
                color: $input-color !important
                border-right: none
                font-family: "Roboto", sans-serif
                font-size: 15px

            button
                width: 40px
                height: 40px
                border: none
                font-family: "Roboto", sans-serif
                font-size: 18px
                color: $white-color
                border-color: $primary-color
                background-color: $primary-color

                &:hover
                    background-color: $primary-color-hover
                    border-color: $primary-color-hover

            .adv-search-link
                display: flex
                align-items: center
                text-decoration: underline
                font-family: 'Nunito', sans-serif
                color: $label-color
                cursor: pointer


    .add-btn
        font-family: "Roboto", sans-serif
        font-size: 14px
        letter-spacing: 0.25px
        color: $primary-color
        border-color: $primary-color

        &:hover
            background-color: $primary-color
            color: $white-color
    .table-container
        font-family: 'Roboto Condensed', sans-serif

        thead
            background-color: $primary-color
            color: $white-color
        
        td
            color: $nav-link-color

            fa-icon
                padding: 0px 5px
                cursor: pointer

                &:hover
                    color: $primary-color
            
            .download-link
                color: $nav-link-color
                text-decoration: underline

                &:hover
                    color: $primary-color