<div>
  <div class="page-heading pl-3 my-4">
    <h3>Pre-RFx Search</h3>
  </div>

  <div class="inner-wrapper">
    <div class="main-content p-3">
      <div class="mb-2 rfx-search-toolbar">
        <div class="search-cntnr">
          <div class="d-flex">
            <input type="text" placeholder="Search Pre-RFx by Title" [(ngModel)]="searchTerm" (keyup.enter)="searchPreRFx()">
            <button (click)="searchPreRFx()"><fa-icon [icon]="searchIcon"></fa-icon></button>
          </div>
          <a class="adv-search-link" (click)="showPreRFxAdvSearch = true">Advanced Search</a>
        </div>
        <div class="text-right"><a *ngIf="hasWriteAccess()" type="button" class="btn btn-outline-primary add-btn" [routerLink]="['/pre-rfx-add']">Add Pre-RFx</a></div>
      </div>
      
      
      <div class="table-container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Business Unit</th>
              <th>RFx Title</th>
              <th>Pre-RFx Status</th>
              <th>RFx Category</th>
              <th>RFx Client Agency</th>
              <th>Source</th>
              <th>RFx Attachment</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let preRFx of preRFxs">
              <td>{{ getBusinessUnitText( preRFx.bu_id ) }}</td>
              <td>{{ preRFx.title }}</td>
              <td>{{ getRFxStatusText( preRFx.status ) }}</td>
              <td>{{ getRFxCategoryText( preRFx.rfx_category_id ) }}</td>
              <td>{{ getClientAgencyText( preRFx.client_agency_id ) }}</td>
              <td>{{ getRFxSourceText( preRFx.source ) }}</td>
              <td><a class="download-link" *ngIf="preRFx.attachment && preRFx.attachment.name" [href]="preRFx.attachment.download_url" download>{{ preRFx.attachment.name }}</a></td>
              <td>
                <fa-icon *ngIf="hasWriteAccess()" [icon]="editIcon" [routerLink]="['/pre-rfx-edit/' + preRFx.id]" title="Edit Pre-RFx"></fa-icon>
                <fa-icon *ngIf="hasReadAccess()" [icon]="viewIcon" [routerLink]="['/pre-rfx-view/' + preRFx.id]" title="View Pre-RFx"></fa-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-pre-rfx-advanced-search-modal *ngIf="showPreRFxAdvSearch" [businessUnits]="businessUnits" [rfxCategories]="rfxCategories" [clientAgencies]="clientAgencies" [preRFxStatus]="preRFxStatus" [users]="users" (advSearchModalClosed)="showPreRFxAdvSearch = false"></app-pre-rfx-advanced-search-modal>