<div class="main-content p-3">
    <div class="mb-2 text-right"><button type="button" class="btn btn-outline-primary add-btn" data-toggle="modal" (click)="showVRForm = true">Add View Access by Role</button></div>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Role</th>
                <th>Pre-RFx Views</th>
                <th>RFx Views</th>
                <th>Proposer Views</th>
                <th>Contracts Manager</th>
                <th>Task Orders</th>
                <th>All</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of userRolesWithAccess">
                <td>{{ getRoleText(role.id) }}</td>
                <td>
                  <div class="access-labels three-col-layout"><span>Read</span><span>Write</span><span>Approve</span></div>
                  <div class="access-icons three-col-layout">
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('pre_rfx_read') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('pre_rfx_read') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('pre_rfx_write') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('pre_rfx_write') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('pre_rfx_approve') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('pre_rfx_approve') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                  </div>
                </td>
                <td>
                  <div class="access-labels"><span>Read</span><span>Write</span></div>
                  <div class="access-icons">
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('rfx_read') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('rfx_read') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('rfx_write') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('rfx_write') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                  </div>
                </td>
                <td>
                  <div class="access-labels"><span>Read</span><span>Write</span></div>
                  <div class="access-icons">
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('proposal_read') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('proposal_read') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('proposal_write') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('proposal_write') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                  </div>
                </td>
                <td>
                  <div class="access-labels"><span>Read</span><span>Write</span></div>
                  <div class="access-icons">
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('contract_read') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('contract_read') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('contract_write') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('contract_write') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                  </div>
                </td>
                <td>
                  <div class="access-labels"><span>Read</span><span>Write</span></div>
                  <div class="access-icons">
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('task_order_read') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('task_order_read') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('task_order_write') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('task_order_write') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                  </div>
                </td>
                <td class="all-column">
                  <div class="access-labels"><span>All</span></div>
                  <div class="access-icons">
                    <fa-icon class="access-icon" [ngClass]="[ role.view_access.indexOf('all') > -1 ? 'checked-icon' : 'unchecked-icon'  ]" [icon]="role.view_access.indexOf('all') > -1 ? viewAccessIcon : viewNoAccessIcon"></fa-icon>
                  </div>
                </td>
                <td>
                  <fa-icon [icon]="editIcon" (click)="editVR(role)"></fa-icon>
                  <fa-icon [icon]="archiveIcon" (click)="deleteVR(role)"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<app-vr-form-modal *ngIf="showVRForm" [selectedRoleData]="selectedRole" [userRoles]="userRoles" (vrFormClosed)="formClosed()"></app-vr-form-modal>
<app-vr-delete-modal *ngIf="selectedVRForDelete" [viewRole]="selectedVRForDelete" (modalClosed)="selectedVRForDelete = null"></app-vr-delete-modal>
