<div class="main-content p-3">
    <div class="mb-2 text-right"><button type="button" class="btn btn-outline-primary add-btn" data-toggle="modal" (click)="showPDTForm = true">Add Proposal Document Type</button></div>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Proposal Document ID</th>
                <th>Proposal Document Type</th>
                <th>Proposal Description</th>
                <th>Proposal Document Type Help Text</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proposalDocumentType of proposalDocumentTypes">
                <td>{{ proposalDocumentType.id }}</td>
                <td>{{ proposalDocumentType.type }}</td>
                <td>{{ proposalDocumentType.description }}</td>
                <td>{{ proposalDocumentType.help_text }}</td>
                <td>
                    <fa-icon [icon]="editIcon" (click)="editPDT(proposalDocumentType)"></fa-icon>
                    <fa-icon [icon]="archiveIcon" (click)="deletePDT(proposalDocumentType.id)"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<app-pdt-form-modal *ngIf="showPDTForm" [selectedPDTData]="selectedPDT" (pdtFormClosed)="formClosed()"></app-pdt-form-modal>
<app-pdt-delete-modal *ngIf="deletePDTid" [pdtID]="deletePDTid" (modalClosed)="deletePDTid = ''"></app-pdt-delete-modal>
