<div class="side-nav p-3">
    <div class="sec mb-2">
        <div class="sec-header" [ngClass]="{ 'sec-expanded': orgLinksShown }" data-toggle="collapse" data-target="#organizationalNavLinks" aria-expanded="false" aria-controls="organizationalNavLinks" (click)="orgLinksShown = !orgLinksShown">
            <div>Organizational</div>
            <fa-icon [icon]="navSecHeaderIcon"></fa-icon>
        </div>
        <div class="collapse links" id="organizationalNavLinks">
            <a [routerLink]="['/admin-dashboard/business-unit']">Business Unit</a>
            <a [routerLink]="['/admin-dashboard/client-agency']">Client Agency</a>
            <a [routerLink]="['/admin-dashboard/rfx-category']">RFx Categories</a>
            <a [routerLink]="['/admin-dashboard/rfx-type']" class="selected">RFx Types</a>
            <a>Manage RFx Statues</a>
            <a>RFx Document Types</a>
            <a>Proposal Document Types</a>
            <a>Users</a>
            <a>Roles</a>
        </div>
    </div>
    <div class="sec mb-2">
        <div class="sec-header" [ngClass]="{ 'sec-expanded': securityLinksShown }" data-toggle="collapse" data-target="#securityNavLinks" aria-expanded="false" aria-controls="securityNavLinks" (click)="securityLinksShown = !securityLinksShown">
            <div>Security</div>
            <fa-icon [icon]="navSecHeaderIcon"></fa-icon>
        </div>
        <div class="collapse links" id="securityNavLinks">
            <a>View Access by Roles</a>
            <a>User - BU Setup</a>
            <a>User - Category Setup</a>
        </div>
    </div>
</div>