<div class="row header-container">
    <div class="col-3 px-4">
        <a [routerLink]="['/']">
            <img class="logo-img" src="./../../../assets/img/logo.jpg" alt="image">
        </a>
    </div>
    <div class="col-9 px-4">
        <div *ngIf="_auth.isLoggedIn | async" class="nav-container text-right">
            <div *ngIf="currentUser">Welcome back, <b>{{ currentUser.name }}</b></div>
            <div *ngIf="currentUser" class="text-left"><button type="button" class="btn btn-primary logout-btn" (click)="logout()">Logout</button></div>
        </div>
    </div>
    <div class="col-12 px-4 main-nav-links">
        <a *ngIf="_auth.isLoggedIn | async" [routerLink]="['/pre-rfx-search']" class="nav-link text-center" [ngClass]="{ 'active': router.url == '/pre-rfx-search' }">
            <fa-icon [icon]="preRFxIcon"></fa-icon>
            <div>Pre-RFx</div>
        </a>
        <a *ngIf="currentUser && currentUser.role_ids.indexOf(_auth.ADMIN_ROLE_ID) > -1" [routerLink]="['/admin-dashboard']" class="nav-link text-center" [ngClass]="{ 'active': router.url.indexOf('/admin-dashboard') > -1 }">
            <fa-icon [icon]="adminDashboardIcon"></fa-icon>
            <div>Admin Dashboard</div>
        </a>
    </div>
</div>