<!-- Add/Edit Modal -->
<div class="modal fade" id="vrForm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ selectedVRData ? 'Edit' : 'Add' }} View Access by Role</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeVRForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-contianer p-3">
                    <form [formGroup]="vrForm" (ngSubmit)="vrFormSubmit()">
                        <div class="row form-status-container">
                            <div class="alert alert-dismissible fade" [ngClass]="{ 'show': formStatusMessage || formSuccessMessage, 'hide': !formStatusMessage && !formSuccessMessage, 'alert-danger': formStatusMessage, 'alert-success': formSuccessMessage }" role="alert">
                                {{ formStatusMessage || formSuccessMessage }}
                                <button type="button" class="close" aria-label="Close" (click)="formStatusMessage = ''; formSuccessMessage = '';">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 text-center">
                                <select class="custom-select" formControlName="role_id">
                                    <option *ngFor="let userRole of userRoles" [value]="userRole.id">{{ userRole.name + ' - ' + userRole.text }}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row mb-2">
                            <div class="col-12 text-left d-flex">
                                <div class="mr-4 input-group-label">Pre-Rfx Views:</div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="pre_rfx" id="pre_rfx_true" [value]="true">
                                    <label class="form-check-label" for="pre_rfx_true">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="pre_rfx" id="pre_rfx_false" [value]="false">
                                    <label class="form-check-label" for="pre_rfx_false">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 text-left d-flex">
                                <div class="mr-4 input-group-label">Rfx Views:</div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="rfx" id="rfx_true" [value]="true">
                                    <label class="form-check-label" for="rfx_true">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="rfx" id="rfx_false" [value]="false">
                                    <label class="form-check-label" for="rfx_false">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 text-left d-flex">
                                <div class="mr-4 input-group-label">Proposer Views:</div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="proposer" id="proposer_true" [value]="true">
                                    <label class="form-check-label" for="proposer_true">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="proposer" id="proposer_false" [value]="false">
                                    <label class="form-check-label" for="proposer_false">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 text-left d-flex">
                                <div class="mr-4 input-group-label">Contracts Manager:</div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="contracts_manager" id="contracts_manager_true" [value]="true">
                                    <label class="form-check-label" for="contracts_manager_true">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="contracts_manager" id="contracts_manager_false" [value]="false">
                                    <label class="form-check-label" for="contracts_manager_false">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 text-left d-flex">
                                <div class="mr-4 input-group-label">Task Orders:</div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="task_orders" id="task_orders_true" [value]="true">
                                    <label class="form-check-label" for="task_orders_true">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="task_orders" id="task_orders_false" [value]="false">
                                    <label class="form-check-label" for="task_orders_false">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 text-left d-flex">
                                <div class="mr-4 input-group-label">All:</div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="all" id="all_true" [value]="true">
                                    <label class="form-check-label" for="all_true">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="all" id="all_false" [value]="false">
                                    <label class="form-check-label" for="all_false">No</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="action-buttons text-right">
                            <button type="button" class="btn btn-secondary" (click)="closeVRForm()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>