<!-- Add/Edit Modal -->
<div class="modal fade" id="vrForm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ selectedVRData ? 'Edit' : 'Add' }} View Access by Role</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeVRForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-contianer p-3">
                    <form [formGroup]="vrForm" (ngSubmit)="vrFormSubmit()">
                        <div class="row form-status-container">
                            <div class="alert alert-dismissible fade" [ngClass]="{ 'show': formStatusMessage || formSuccessMessage, 'hide': !formStatusMessage && !formSuccessMessage, 'alert-danger': formStatusMessage, 'alert-success': formSuccessMessage }" role="alert">
                                {{ formStatusMessage || formSuccessMessage }}
                                <button type="button" class="close" aria-label="Close" (click)="formStatusMessage = ''; formSuccessMessage = '';">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 text-center">
                                <select class="custom-select" formControlName="role_id">
                                    <option value="">Select Role</option>
                                    <option *ngFor="let userRole of userRoles" [value]="userRole.id">{{ userRole.name + ' - ' + userRole.text }}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row mb-2">
                            <div class="col-12 text-left d-block">
                                <div class="input-group-label w-100 mb-2">Choose Role Access:</div>
                                <div class="access-checkboxes">
                                    <div *ngFor="let roleAccess of rolesAccessArray; let i = index" class="form-check mb-2" formArrayName="view_access">
                                        <input class="form-check-input" type="checkbox" [formControlName]="i" id="view_access_{{ roleAccess.name }}" [value]="roleAccess.name">
                                        <label class="form-check-label" for="view_access_{{ roleAccess.name }}">{{ roleAccess.label }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="action-buttons text-right">
                            <button type="button" class="btn btn-secondary" (click)="closeVRForm()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>