<div class="main-content p-3">
    <div class="mb-2 text-right"><button type="button" class="btn btn-outline-primary add-btn" data-toggle="modal" (click)="showURForm = true">Add User Role</button></div>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Role ID</th>
                <th>Role Name</th>
                <th>Role Text</th>
                <th>Role Help Text</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userRole of userRoles">
                <td>{{ userRole.id }}</td>
                <td>{{ userRole.name }}</td>
                <td>{{ userRole.text }}</td>
                <td>{{ userRole.help_text }}</td>
                <td>
                    <fa-icon [icon]="editIcon" (click)="editUR(userRole)"></fa-icon>
                    <fa-icon [icon]="archiveIcon" [ngClass]="{'archived': !userRole.active }" (click)="updateURstatus(userRole)"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<app-ur-form-modal *ngIf="showURForm" [selectedURData]="selectedUR" (urFormClosed)="formClosed()"></app-ur-form-modal>
<app-ur-status-modal *ngIf="selectedURForStatus" [userRole]="selectedURForStatus" (modalClosed)="selectedURForStatus = null"></app-ur-status-modal>
