<!-- Add/Edit Modal -->
<div class="modal fade" id="rdtForm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ selectedRDTData ? 'Edit' : 'Add' }} RFx Document Type</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeRDTForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-contianer p-3">
                    <form [formGroup]="rdtForm" (ngSubmit)="rdtFormSubmit()">
                        <div class="row form-status-container">
                            <div class="alert alert-dismissible fade" [ngClass]="{ 'show': formStatusMessage || formSuccessMessage, 'hide': !formStatusMessage && !formSuccessMessage, 'alert-danger': formStatusMessage, 'alert-success': formSuccessMessage }" role="alert">
                                {{ formStatusMessage || formSuccessMessage }}
                                <button type="button" class="close" aria-label="Close" (click)="formStatusMessage = ''; formSuccessMessage = '';">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <label class="text-left input-label">RFx Document Type</label>
                                <input type="text" formControlName="type">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <label class="text-left input-label">RFx Description</label>
                                <textarea rows="3" formControlName="description"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 text-center d-flex flex-column">
                                <label class="text-left input-label">RFx Document Type Help Text</label>
                                <textarea rows="3" formControlName="help_text"></textarea>
                            </div>
                        </div>
                        
                        <div class="action-buttons text-right">
                            <button type="button" class="btn btn-secondary" (click)="closeRDTForm()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>