@import 'src/sass/_variables.sass'
    
.page-heading
    font-family: 'Cabin Condensed', sans-serif
    // font-size: 18px
.register-contianer
    width: 40%
    min-height: 500px
    display: flex
    flex-direction: column
    justify-content: center
    margin: auto
    background: $white-color
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28)

    .form-status-container
        display: flex
        justify-content: center

        .alert
            width: 375px
            font-size: 14px

    input[type='text'],input[type='password']
        width: 375px
        height: 40px
        padding: 10px
        border: 1px solid $input-border-color
        color: $input-color !important
        font-family: "Roboto", sans-serif

        &:disabled
            background-color: $input-disabled-background-color
    
    input[type='submit']
        font-family: 'Arimo', sans-serif
        font-size: 15px
        color: $white-color
        border-radius: 2px
        width: 175px
        height: 36px
        border: none
        @include bg-gradient

        &:hover, &:active
            @include bg-gradient-hover   
    
    select
        width: 375px
        height: 40px
        border: 1px solid $input-border-color
        color: $input-color !important
        font-family: "Roboto", sans-serif
        border-radius: 0px

    .input-label
        font-size: 15px
        font-family: "Nunito", sans-serif
        font-weight: 600
        letter-spacing: 0.5px
        display: block
        color: $label-color
        width: 375px
        margin: 5px auto