<div class="main-content p-3">
    <div class="mb-2 text-right"><button type="button" class="btn btn-outline-primary add-btn" data-toggle="modal" (click)="showBUForm = true">Add Business Unit</button></div>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Business Unit Code</th>
                <th>Business Unit Description</th>
                <th>Business Unit Effective Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let businessUnit of businessUnits">
                <td>{{ businessUnit.name }}</td>
                <td>{{ businessUnit.description }}</td>
                <td>{{ businessUnit.date | date:'longDate' }}</td>
                <td>
                    <fa-icon [icon]="editIcon" (click)="editBU(businessUnit)"></fa-icon>
                    <fa-icon [icon]="archiveIcon" [ngClass]="{'archived': !businessUnit.active }" (click)="updateBUstatus(businessUnit)"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<app-bu-form-modal *ngIf="showBUForm" [selectedBUData]="selectedBU" (buFormClosed)="formClosed()"></app-bu-form-modal>
<app-bu-status-modal *ngIf="selectedBUForStatus" [businessUnit]="selectedBUForStatus" (modalClosed)="selectedBUForStatus = null"></app-bu-status-modal>
